body {
  background-color: hsl(30, 38%, 92%);
  padding: 175px 20px;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 14px;
}

.card {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.card__imgbox {
  width: 50%;
}

.card__img {
  border-radius: 8px 0 0 8px;
}

.card__content {
  width: 50%;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
  padding: 30px;
}

.card__subtitle {
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: .8rem;
  margin-bottom: 18px;
}

.card__title {
  text-transform: capitalize;
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 16px;
}

.card__text {
  margin-bottom: 30px;
}

.card__price-box {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 25px;
}

.card__price-new {
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 2rem;
}

.card__price-old {
  text-decoration: line-through;
  font-size: .9rem;
}

.card__btn-box {
  background-color: hsl(158, 36%, 37%);
  padding: 10px 0;
  text-align: center;
  border-radius: 8px;
}

.card__btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .05em;
  padding-left: 25px;
  position: relative;
}

.card__btn::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  background-image: url(../images/icon-cart.svg);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}



@media (max-width: 610px) {
  body {
    padding-top: 27px;
  }

  .card {
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
  }

  .card__imgbox,
  .card__content {
    width: 100%;
  }

  .card__imgbox {
    height: 240px;
  }
  
  .card__img {
    border-radius: 8px 8px 0 0;
  }

  .card__content {
    padding: 23px 30px;
    border-radius: 0 0 8px 8px;
  }

  .card__subtitle {
    margin-bottom: 10px;
  }

  .card__title {
    margin-bottom: 12px;
  }
}