:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 180px 10px 0;
  background-color: var(--main-bg);
  color: var(--main-paragraph);
}

.stats {
  --br: 10px;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--card-bg);
  border-radius: var(--br);
  margin: 0 auto;
}
.stats__content {
  max-width: 570px;
  padding: 75px 75px 50px;
}
.stats__title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.2rem;
  line-height: 1.3;
  color: var(--main-heading-stats);
  margin-bottom: 20px;
}
.stats__title span {
  color: var(--accent);
}
.stats__text {
  max-width: 380px;
  line-height: 1.7;
  margin-bottom: 65px;
}
.stats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.stats__item-num {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--main-heading-stats);
}
.stats__item-text {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.stats__img-box {
  position: relative;
}
.stats__img-box::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--accent);
  border-radius: 0 var(--br) var(--br) 0;
}
.stats__img {
  width: 100%;
  height: 100%;
  border-radius: 0 var(--br) var(--br) 0;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
  opacity: .8;
}

@media (max-width: 1000px) {
  body {
    padding-top: 90px;
  }

  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 325px;
    text-align: center;
  }
  .stats__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 36px;
  }
  .stats__title {
    font-size: 1.6rem;
  }
  .stats__text {
    margin-bottom: 30px;
  }
  .stats__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .stats__img-box::before {
    border-radius: var(--br) var(--br) 0 0;
  }
  .stats__img {
    border-radius: var(--br) var(--br) 0 0;
  }
}
