:root {
  --gradient-start: #6448fe;
  --gradient-end: #600594;
  --error: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --aside: calc(50% - 240px);
  font-size: 18px;
}

body {
  min-height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: var(--very-dark-violet);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px;
  position: relative;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--aside);
  height: 100%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: grid;
  place-items: center;
}

.card {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__result {
  color: #fff;
}
.card__result-face, .card__result-back {
  width: 447px;
  height: 245px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 35px 0 rgba(43, 43, 43, 0.2);
          box-shadow: 0 5px 35px 0 rgba(43, 43, 43, 0.2);
}
.card__result-face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-image: url(../images/bg-card-front.png);
  padding: 28px 30px;
  margin-bottom: 36px;
  letter-spacing: .18rem;
  position: relative;
}
.card__result-face::before, .card__result-face::after {
  content: '';
  position: absolute;
}
.card__result-face::before {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  top: 30px;
  left: 28px;
}
.card__result-face::after {
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 43px;
  left: 90px;
}
.card__result-num {
  font-size: 1.6rem;
}
.card__result-face-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
}
.card__result-name {
  text-transform: uppercase;
}
.card__result-back {
  font-size: 0.8rem;
  letter-spacing: .2rem;
  text-align: right;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/bg-card-back.png);
  padding-right: 53px;
  margin-left: 95px;
}
.card__wrap {
  -ms-flex-item-align: center;
      align-self: center;
}
.card__complete {
  display: none;
  padding-top: 120px;
  text-align: center;
  position: relative;
}
.card__complete::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url(../images/icon-complete.svg);
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.card__complete-title {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.card__complete-text {
  color: var(--dark-grayish-violet);
  margin-bottom: 40px;
}
.card__complete-btn {
  text-decoration: none;
  display: block;
  padding: 12px 0;
  background-color: var(--very-dark-violet);
  color: #fff;
  border-radius: 10px;
}

.card > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form {
  max-width: 380px;
}
.form__not-display {
  display: none;
}
.form label {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.form__input {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 9px 15px;
}
.form__input-wrap {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--light-grayish-violet)), to(var(--light-grayish-violet)));
  background-image: linear-gradient(90deg, var(--light-grayish-violet), var(--light-grayish-violet));
  padding: 1px;
  border-radius: 5px;
  margin-top: 5px;
}
.form__input-wrap--focus {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-start)), to(var(--gradient-end)));
  background-image: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
}
.form__input::-webkit-input-placeholder {
  color: var(--light-grayish-violet);
}
.form__input:-ms-input-placeholder {
  color: var(--light-grayish-violet);
}
.form__input::-ms-input-placeholder {
  color: var(--light-grayish-violet);
}
.form__input::placeholder {
  color: var(--light-grayish-violet);
}
.form__input:focus {
  border-color: transparent;
  outline-width: 0;
}
.form__input--alert, .form__input--alert:focus {
  border-color: var(--error);
  outline-width: 0;
}
.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.form__inner--alert {
  margin-bottom: 50px;
}
.form__date {
  max-width: 170px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-top: 8px;
  position: relative;
}
.form__date label, .form__date p {
  grid-column: span 2;
}
.form__date input {
  max-width: 80px;
}
.form__cvc {
  max-width: 190px;
  width: 100%;
  position: relative;
}
.form__date p, .form__cvc p {
  position: absolute;
  left: 0;
  bottom: -37px;
}
.form__alert {
  font-size: 0.7rem;
  color: var(--error);
  margin: 8px 0 12px;
}
.form__btn {
  max-width: 100%;
  width: 100%;
  border: none;
  background-color: var(--very-dark-violet);
  color: var(--light-grayish-violet);
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}

.footer .attribution {
  font-size: 11px;
  text-align: center;
}
.footer .attribution a {
  color: #3e52a3;
}

@media (max-width: 1000px) {
  .card__result {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .card__result-face, .card__result-back {
    width: 285px;
    height: 157px;
  }
  .card__result-face {
    padding: 18px 20px;
  }
  .card__result-face::before {
    width: 30px;
    height: 30px;
    top: 18px;
    left: 20px;
  }
  .card__result-face::after {
    width: 14px;
    height: 14px;
    top: 26px;
    left: 62px;
  }
  .card__result-back {
    padding-right: 35px;
    margin-left: 0;
  }
  .card__result-num {
    font-size: .9rem;
    margin-bottom: 15px;
  }
  .card__result-face-bottom {
    font-size: 0.5rem;
  }
  .card__result-cvc {
    font-size: 0.6rem;
  }
}
@media (max-width: 750px) {
  body {
    padding-top: 32px;
  }

  body::after {
    width: 100%;
    height: 240px;
  }

  main {
    place-items: start center;
  }

  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .card__result {
    max-width: 380px;
    width: 100%;
    height: 250px;
    position: relative;
  }
  .card__result-face, .card__result-back {
    position: absolute;
  }
  .card__result-face {
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    z-index: 1;
  }
  .card__result-back {
    top: 0;
    right: 0;
  }
}
