:root {
  --red: #ff7a7a;
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}
:root .signup__form-text, :root .signup__form-box {
  -webkit-box-shadow: 0px 8px 0px 0px rgba(49, 49, 49, 0.15);
          box-shadow: 0px 8px 0px 0px rgba(49, 49, 49, 0.15);
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1460px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 2;
}

.signup {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--red);
  color: #fff;
  position: relative;
}
.signup::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/bg-intro-desktop.png);
  opacity: .6;
}
.signup__inner {
  display: grid;
  grid-template-columns: minmax(325px, 500px) minmax(325px, 540px);
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  max-width: 1110px;
  margin: 0 auto;
  z-index: 2;
}
.signup__content {
  max-width: 500px;
}
.signup__title {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 30px;
}
.signup__form-side {
  max-width: 540px;
  width: 100%;
}
.signup__form-text {
  text-align: center;
  background-color: var(--blue);
  padding: 15px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
.signup__form-text span {
  font-weight: 700;
  color: #fff;
}
.signup__form-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}
.signup__form-label {
  position: relative;
}
.signup__form-input, .signup__form-btn {
  display: block;
  width: 100%;
}
.signup__form-input {
  font-weight: 600;
  font-size: .9em;
  padding: 15px 60px 15px 30px;
  border: 1px solid var(--grayish-blue);
  border-radius: 5px;
  margin-bottom: 20px;
}
.signup__form-input:focus {
  border: 1px solid var(--dark-blue);
  outline: transparent;
}
.signup .is-alert-input {
  margin-bottom: 40px;
  border-color: transparent;
  outline: 2px solid var(--red);
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px), center;
}
.signup__form-warning {
  position: absolute;
  display: block;
  font-weight: 500;
  font-size: 0.7em;
  text-align: right;
  color: var(--red);
  top: 58px;
  right: 0;
}
.signup__form-btn {
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05em;
  background-color: var(--green);
  border-radius: 10px;
  padding: 15px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 15px;
  cursor: pointer;
}
.signup__form-btn:hover {
  background-color: #6de2af;
}
.signup__text-terms {
  font-size: 0.7em;
  text-align: center;
  color: var(--grayish-blue);
}
.signup__text-terms a {
  font-weight: 700;
  color: var(--red);
  text-decoration: none;
}

@media (max-width: 800px) {
  .signup__bg {
    background-image: url(../images/bg-intro-mobile.png);
  }
  .signup__inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    text-align: center;
    row-gap: 60px;
  }
  .signup__title {
    font-size: 2em;
  }
  .signup__form-text {
    line-height: 1.8;
    padding: 15px 50px;
  }
  .signup__form-box {
    padding: 22px;
  }
  .signup__form-warning {
    left: -100%;
  }
}
